In [7]:
#module 4 - data structure assignment:

#task1:
#create myList with 10,20,30,'apple,'true,8.10
#then append values wit 30, 40
#then reverse list and store in reversedList

import numpy as np

myList = [10,20,30,'apple',True,8.10]
myList

[10, 20, 30, 'apple', True, 8.1]

In [8]:
myList.append(30)
myList

[10, 20, 30, 'apple', True, 8.1, 30]

In [9]:
myList.append(40)
myList

[10, 20, 30, 'apple', True, 8.1, 30, 40]

In [25]:
#task2:
#create dict with keys 1,2,3 and vals 'data','information', 'text'

dict01={1:'data',2:'information',3:'text'}
dict01

{1: 'data', 2: 'information', 3: 'text'}

In [26]:
dict01.values()

dict_values(['data', 'information', 'text'])

In [27]:
dict01[4] = 'features'
dict01

{1: 'data', 2: 'information', 3: 'text', 4: 'features'}

In [ ]:
d = {'key': 'value'}
print(d)  # {'key': 'value'}

d['mynewkey'] = 'mynewvalue'

print(d)  # {'key': 'value', 'mynewkey': 'mynewvalue'}

In [28]:
del dict01[3]  # This will remove the element with your key.
dict01

{1: 'data', 2: 'information', 4: 'features'}

In [34]:
print(dict01.keys())

dict_keys([1, 2, 4])

In [35]:
print(dict01.values())

dict_values(['data', 'information', 'features'])

In [40]:
#task3:
#create my_tuple and add 1,2,3,apple, mango

my_tuple = (1,2,3,'apple', 'mango')

my_tuple

(1, 2, 3, 'apple', 'mango')

In [ ]:
#task4:
#create numeric_tuple with 10,20,30,40,50
#find min
#concat my_tuple and numeric_tuple and store result as r1

#duplicate my_tuple 2 tiimes and store in newdupli

In [41]:
numeric_tuple = (10,20,30,40,50)

numeric_tuple

(10, 20, 30, 40, 50)

In [45]:
r1 = my_tuple + numeric_tuple
r1

(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)

In [50]:
# initialize tuple 
my_tuple = (1,2,3,'apple', 'mango')
  
# printing original tuple 
print("The original tuple : " + str(my_tuple))
  
# initialize N 
N = 2
  
# Repeating tuples N times
# using * operator
newdupli = ((my_tuple, ) * N)
  
# printing result
print("The duplicated tuple elements are : " + str(newdupli))

The original tuple : (1, 2, 3, 'apple', 'mango')
The duplicated tuple elements are : ((1, 2, 3, 'apple', 'mango'), (1, 2, 3, 'apple', 'mango'))

In [ ]:
#task5:
#create 2 sets set1 nd set2
#set1={1,2,3,4,5}
#set2={2,3,7,6,1}
#set1 union set2
#set1 intersection set2
#set1 difference set2

In [52]:
# Different types of sets in Python
# set of integers
set1 = {1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [53]:
set2= {2,3,7,6,1}
print(set2)

{1, 2, 3, 6, 7}

In [ ]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

In [54]:
print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

In [55]:
print(set1 & set2)

{1, 2, 3}

In [ ]:
# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

In [56]:
print(set1 - set2)

{4, 5}

In [57]:
print(set2 - set1)

{6, 7}